/* Contenedor principal de la navegación */
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background-color: #f5f7fa; /* Fondo sutil */
  border-top: 1px solid #e0e0e0; /* Línea superior para separación */
  position: relative;
  bottom: 0;
  margin-bottom: 2rem;
}

/* Estilos básicos para los botones de navegación */
.navButton {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  color: #334e68;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 5px; /* Sutileza en las esquinas */
}

/* Efecto hover para los botones */
.navButton:hover {
  color: #357ab7; /* Cambio sutil del texto */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .navContainer {
    flex-wrap: wrap; /* Ajusta los botones a múltiples líneas */
    padding: 1rem;
  }

  .navButton {
    flex: 1 1 calc(50% - 1rem); /* Ocupa el 50% del ancho con separación */
    margin: 0.5rem;
  }
}
