.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.title {
  font-size: 2.5rem;
  color: #334e68;
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, color 0.3s ease;
}

.error {
  color: red;
}

.adddiv {
  text-align: center;
}
.input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid #395886;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  outline: none;
  transition: border 0.3s;
  box-sizing: border-box;
}

.input:focus {
  border-color: #357ab7;
}
.AccionesForm {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
  background-color: #395886;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #357ab7;
}
