/* Estilo minimalista para el título sin mostrar el contenedor */
.title-container {
  text-align: center;
  margin: 1.5rem 0;
}

/* Estilos para el texto del título */
.title {
  font-size: 2.5rem; /* Tamaño considerable */
  font-weight: 700;
  text-align: center;
  color: #334e68; /* Color sutil para el texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para las letras */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
